.container{
    background: lightgrey;
    height: 70vh;
    width: 70vw;
    margin: auto;
    border: 1px solid black;
}

.ResultContainer{
    background: lightgrey;
    height: 50%;
    width: 50%;
    margin: auto;
}

.num {
    height: 50%;
    width: 100%;
    margin: auto;
    display: flex;
}

.WL {
    height: 50%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserScore, .LocalScore, .LocalOutput{
    height: 30%;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border: 0.4px solid black;
}

.RPSContainer {
    height: 48%;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

.rock, .paper, .scissors {
    height: 30%;
    width: 30%;
    margin-top: 5%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}